/* .statcardContainer {
  padding: "3px";
  background-color: "white";
  margin: "10px";
  margin-top: "15px";
  height: "175px";
}

.statcard-data {
  text-align: "center";
  color: "green";
}

.statcardDataContainer {
  margin: "8px";
  height: "100px";
}

.statcard-icon {
  text-align: "center";
  color: "green";
  font-weight: "light";
}

.statcardInfoSubcontainer {
  display: "flex";
  justify-content: "center";
  align-content: "baseline";
} */
