.statCardExtraInfo {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  color: red;
}

.statCardContent {
  display: flex;
  justify-content: center;
  padding-bottom: 1px;
  font-size: 18px;
}

.statCardContainer {
  padding: 3px;
  background-color: white;
  margin: 10px;
  margin-top: 15px;
  height: 175px;
}

.statcardData {
  text-align: center;
  color: green;
}

.statCardInfoContainer {
  margin: 8px;
  height: 100px;
}

.statCardIcon {
  text-align: center;
  color: green;
  font-weight: light;
}

.statCardInfoSubcontainer {
  display: flex;
  justify-content: center;
  align-content: baseline;
}
