.lineChart {
  height: 350px;
  background-color: white;
}

.lineChartBox {
  height: 100%;
  width: 74vw;
  padding: 20px;
  background-color: #f5f7f8;
}

/* =========thought============= */
.thought {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 5px;
}
.thoughtBox {
  width: 74vw;
  padding: 10px 20px 10px 20px;
  background-color: #f5f7f8;
  margin-top: 50px;
}
.thoughtText {
  font-size: 1.2em;
  font-family: sans-serif;
  color: #9ade7b;
  width: 100%;
  margin-left: 20px;
}
