.statCardContainer {
  padding: 5px;
  background-color: white;
  margin: 10px;
  margin-top: 15px;
  height: 175px;
}

.statCardInfoContainer {
  margin: 8px;
  height: 120px;
  overflow: scroll;
}

.tableDiv {
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  height: 22px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  color: gray;
}
